@model IEnumerable<TrackerExpenseMVC.Models.CategoryMVC>

@{
    ViewBag.Title = "Index1";
}

<br />
 <h2 style="margin-top:21px;color:#8d5192">The category associated with this expense </h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<br />
<br />
<table border="1" class="table table-stiped table-hover" style="border-radius:10px;border: 4px solid #8d5192;">
    <tr style="background-color: #8d5192; color:white;height:25px;">
        @*<th>
            @Html.DisplayNameFor(model => model.CId)
        </th>*@
        <th>
           @* @Html.DisplayNameFor(model => model.CName)*@
            Category Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CExpenseLimit)*@
            Category Expense Limit
        </th>
      
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.CId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CExpenseLimit)
            </td>
            @* <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
